_ReSharper*
bin/
*.swp
obj/
TestResults/
*.user
*.suo
.gitk*
*AssemblyTitle.cs
.nuget/NuGet.exe
*.backup
.vs/

packages/FluentCommandLineParser\.1\.4\.3/

packages/NUnit\.3\.6\.0/

packages/Newtonsoft\.Json\.9\.0\.1/

packages/Serilog\.Sinks\.File\.3\.2\.0/

packages/Serilog\.Sinks\.Literate\.2\.1\.0/

packages/Serilog\.Sinks\.RollingFile\.3\.3\.1-dev-00767/
